div#root {
  width: 100%;
  display: flex;
  flex-direction: column;
}

a{
  color: white;
}
a:hover{
  color: white;
}

body::-webkit-scrollbar {
  width: 5px;               /* width of the entire scrollbar */
}


body::-webkit-scrollbar-thumb {
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #e31305;  /* creates padding around scroll thumb */
}


